.username{
  text-align:center;
}

.nav_username{
  font-weight: bold;
}

thead {
  background-color: skyblue;
}

.table-table-striped:nth-child{background-color: #f2f2f2;}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.my-tasks-list, .project-list, .project-detail{
  text-align:center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1, h2, p {
  text-align: center;
}

.create {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project_dropdown_btn {
  background-color:white;
  color:navy;
  padding: 16px;
  font-weight: bold;
  border:none;
  cursor: pointer;
}

li a {
  color: navy;
}

.project-form-button, .task-form-button{
  margin-left:50%;
}

.dropdown{
  position: relative;
  display:inline-block;
}


.dropdown-content{
  display:none;
  position: absolute; 
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 160px;
  z-index:1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content{
  display:block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

input, select, textarea{
  border: 2px solid #ccc;
  border-radius: 4px;
}

.search_form input {
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.material-symbols-outlined {
  padding:2px 0 0 5px;
  position: absolute;
  color:grey;
}

.search_form button {
  border-radius: 4px;
  border: 1px solid grey;
}

.errorlist li{
  display:none;
}  

body, html {
  background-color: #94B0DA;
  padding: 0;
  font-size: 16px;
}

.login-form, .signup-form{
  background-color: white;
  border-radius: 5px;
  max-width:600px;
  margin: auto;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form input{
  background-color: #DCEDFF;
  border-radius:4px;
  width:50%;
  height:30px;
  font-family:'Courier New', Courier, monospace;

}

.login-form h1, .signup-form h1{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.login-form{
  margin-top: 15%;
  border: 1px solid black;
  display:grid;
  grid-template-rows: 0.5fr 1fr 0.1fr;

}

.login-form form{
  text-align:center;
  width:100%;
}

.login-form button {
  width:51%;
  height:30px;
  background-color:#94B0DA;
  border-radius: 4px;
  border:1px solid #343435;
  font-size: 15px;
}

.login-form label {
  font-size:20px;
  padding-right:10px;
}

.login-form a {
  text-decoration: none;
  color: navy;
}

.login-form div {
  padding: 20px 0 20px 0;
  text-align: center;
}

input::placeholder{
  font-size: 15px;
}

.signup-form {
  border: 1px solid black;
}