{% extends 'base.html'%} {% block content%}
<main>
    {% if searched %}
    <h1> You have searched for {{searched}} </h1>
    {% for task in tasks%}
    <ul>
    </li>
    {{task.project.name}}: <a href="{% url 'show_project' task.project.id%}">{{task.name}}</a>
    </li>
    </ul>
    {%endfor%} 
    {%else%} 
    <h1> You forgot to search!</h1>
    {%endif%}
</main>
{%endblock content%}