{% extends 'base.html' %}{% load static %}  {% block content%} 
    <main>
        <div class="task-form">
            <h1>Update task</h1>
            <form method="post">
                {% csrf_token %} {{form.as_p}} 
               <button>Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
