{% extends 'base.html' %} {% block content %} {% load static %} 
    <main>
        <h1>My Tasks</h1>
        <div class="my-tasks-list">
            
            {% if task_list|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                            <th>Notes</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{task.name}}</td>
                                <td>{{task.start_date}}</td>
                                <td>{{task.due_date}}</td>

                                <td>
                                    {% if task.is_completed == False%}
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True" />
                                            <p>No</p>
                                    {%else%} {{task.is_completed|yesno:"Yes,"}}
                                        </form>
                                    {%endif%}
                                </td>
                                    
                                <td>{% if task.notes|length > 0%}{{task.notes}}</td>
                                    {%else%}
                                    <p> No notes</p>
                                    {%endif%}
                               {% comment %} <td>
                                    <form method="post" action="{% url 'update_task' task.id %}">
                                        {% csrf_token %} {{form.as_p}}
                                    <button class="edit_note">Edit</button></form>
                                </td>  {% endcomment %}
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            {%endif%}
        </div>
    </main>
{% endblock content %}
