{% extends 'base.html' %} {% block content%} {% load static %} 
    <main>
        <div class="task-form">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %} {{form.as_p}} 
            </form>
            <button class="task-form-button">Create</button>
        </div>
    </main>
{% endblock content %}
