{% extends 'base.html' %} {% block content %} {% load static %} 
    <main>
        <div class="login-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %} 
      <p><input type="text" name="username" placeholder="username"/></p>
      <br>
      <p><input type="password" name="password" placeholder="password"/> </p>
      <br>
                <button>Login</button> 
            </form> 
            <div>
           Not a member?<a href="{% url 'signup'%}"> Sign up now</a></div>
        </div>
    </main>

{% endblock content %}
