{%extends 'base.html' %}{% block content %} {% load static %} 
    <main>
        <div class="project-form">
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %} {{form.as_p}} 
            </form>
            <button class="project-form-button">Create</button>
        </div>
    </main>
{% endblock content%}
