{% extends 'base.html' %} {% load markdownify %} {% block content%} {% load static %} 
    <main>
        <h1>{{project.name}}</h1>
            {{ project.description|markdownify }}
        <h2>Tasks</h2> 
        <a class="create" href="{% url 'create_task' %}">Create a new task</a>
        <div class="project-detail">
            {% if project.tasks.all|length == 0 %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{task.name}}</td>
                                <td>{{task.assignee}}</td>
                                <td>{{task.start_date}}</td>
                                <td>{{task.due_date}}</td>
                                <td>{{task.is_completed|yesno}}</td>
                                <td>{% if task.notes|length > 0%}{{task.notes}}</td>
                                {%else%}
                                <p> No notes</p>
                                {%endif%}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
