{% extends 'base.html' %} {% block content %} {% load static %} 
    <main>
        <h1>My Projects</h1>
        <div class="project-list">
            
            {% comment %} <p>
                <a href="{% url 'create_project'%}">Create a new project</a>
            </p> {% endcomment %}
            {% if project_list|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table class="table-table-striped">
                    <thead>
                        <tr class="project_list_row">
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.pk%}">{{project.name}}</a>
                                </td>
                                <td>{{project.tasks.all|length}}</td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            {%endif%}
        </div>
    </main>
{% endblock content %}
