{% load static %} <!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="project_dropdown_btn">Projects</button>
                            <div class="dropdown-content">
                                <a href="{% url 'list_projects'%}">Project list</a>
                                <a href="{% url 'create_project'%}">Create a project</a>
                            </div>
                        {% comment %} <a href="{% url 'list_projects'%}">My projects</a> {% endcomment %}
                    </div>
                    <div class= "nav_username">
                        Hi, {{user.username}} ❤️
                    </div>
                    <div class="task_bar">
                        
                            <a href="{% url 'show_my_tasks'%}">Assigned Tasks</a>
                    
                    </div>
                        <div class="logout_bar">
                            <a href="{% url 'logout'%}">Logout</a>
                            
                        </div>
                        <div>
                            <span class="material-symbols-outlined">
                                search
                                </span>
                             <form class= "search_form" method = "post" action="{% url 'search'%}">
                                {% csrf_token %}
                                <input type="search" placeholder="Search Tasks" name="searched">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    {% endif%}
                </ul>
            </nav>
        </header>
        {% block content%} {% endblock content %} 
    </body>
</html>
